/* calculate site bakcground  */
.bg-color {
  background-color: #f7f7f7;
}
/* doller icon  */
.icon {
  color: darkorchid;
}
#message1,
#message2 {
  background: #d6789c;
  display: none;
}
@media screen and (max-width: 350px) {
  .customize label {
    font-size: 12px;
  }
}
